.recomendado{
    margin-top: 5rem;
}

h2{
    color: rgb(40,188,143);
}

hr{
    border: white;
    height: 3px;
    background: linear-gradient(to left, white, rgb(40,188,143));
}

iframe{
    margin-top: 2rem;
}