<div class="container" id="contactos">
    <div class="row">
        <h1>Contactanos</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-6"  data-aos="fade-up" data-aos-duration="3000">
            <h4>Puedes encontrarnos en las redes sociales para mantenerte al día con nuestras últimas noticias y 
                eventos, o si prefieres, puedes llamarnos directamente para hablar con uno de nuestros 
                representantes y obtener más información <br>
                Estamos hubicados en Buenaventura <br> CR 10 #2-67 Barrio los Alemanes
            </h4>
            <h4>Llámanos al <a href="tel:+573227715180">+57 322 771 5180</a> para hablar con un representante.</h4>
            <div class="row iconos">
                <div class="col-4">
                    <a href="https://www.facebook.com/profile.php?id=100095298067157&mibextid=ZbWKwL" target="_blank"><i class="bi bi-facebook fa-4x"></i></a>
                </div>
                <div class="col-4">
                    <a href="mailto:neosterapias@gmail.com" target="_blank"><i class="bi bi-envelope-at-fill fa-4x"></i></a>
                </div>
                <div class="col-4">
                    <a href="https://api.whatsapp.com/send?phone=573227715180&text=Quiero optener información." target="_blank"><i class="bi bi-whatsapp fa-4x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-6 text-center" data-aos="fade-down-left" data-aos-duration="3000">
            <h3>Convenios</h3><hr>
                <h6>Ofrecemos el 20% de descuentos para usuarios con estos convenios</h6>
                <a href="https://www.facebook.com/Corp.D12" target="_blank">
                <img src="./assets/corpd12.png" alt="iconoCorporaconD12">
                </a>
                <a href="http://www.sprbun.com/" target="_blank">
                <img src="./assets/spb.png" alt="iconoSociedadPortuaria">
                </a>
        </div>    
    </div>
</div>
<footer>
    <p>© 2023 Neos Terapia. Todos los derechos reservados</p>
</footer>