<div class="container" id="terapiaOcupacional">
    <div class="row" data-aos="fade-left"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="col-6 ocupacionalImagen">
            <img src="./assets/familia.jpg" alt="familia">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <h2>Terapia Ocupacional</h2><hr>
            <h4>Permite mejorar la integración y participación social de individuo y su entorno, dado independencia en actividades
                básicas y cotidianas en aquello que presentan dificultades de los diferentes procesos del desarrollo, como por 
                ejemplo: deficiencia escolar, falta de autonomía en actividades de casa, trastornos de la descordinación motora,
                secuelas de enfermedad cerebrovascular, autismo, síndrome de down, secuelas de trauma craneoencefálico y secuelas
                de trauma raquimedular.
            </h4>
        </div>
    </div>
</div>


