<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="principal">
                <h1>Néos Terapia IPS</h1> <br>  
                <p>Es un centro de rehabilitación ubicado en Buenaventura, donde desarrollamos un modelo de atención integral
                    basado en la interdiciplinariedad que busca subsanar y satisfacer las necesidades de la comunidad. <br><br>
                
                    Constituida con una gran vocación de servicio, pensando siempre en la alta calidad de los servicios que se
                    ofrecen y presta a sus usuarios, a costos razonables, de tal manera que sea compectitiva y de fácil acceso
                    para todos.
                </p>
            </div>
        </div>
        <div class="col-2"></div>    
        <div class="col-2">
            <img alt="logoNeos" src="./assets/logoAzul.jpg">
        </div>
    </div>
</div>

