<div class="container" id="fisioterapia">
    <div class="row" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom" data-aos-duration="3000">
        <div class="col-6">
            <h2>Fisioterapia</h2> <hr>
            <h4>En <b>Néos Terapia IPS</b>, contamos con servicios integral en el tratamiento de recuperación de la modalidad,
            disminución del dolor, aumento de fuerza muscular, con el objetivo de mantener o mejorar la funcionalidad. En 
            este ámbito se atienden todo tipo de lesiones como lo son ortopédicas, neurológicas y traumatológicas, en cualquier
            ciclo vital.</h4>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <h3>Modalidades Terapeuticas</h3> <hr>
            <ul>
                <li><h4>Mecanoterapia</h4></li>
                <li><h4>Terapia con láser</h4></li>
                <li><h4>Biofeedback</h4></li>
                <li><h4>Electroterapia</h4></li>
                <li><h4>Cinesiterapia</h4></li>
                <li><h4>Rehabilitación deportiva</h4></li>
                <li><h4>Neuro rahabilitación</h4></li>
            </ul>
        </div>
    </div>
    <div class="row" id="dos" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom" data-aos-duration="3000">
        <img src="./assets/logoBlancoC.jpg" alt="logoColor">
    </div>
</div>

