<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Visión</h2><br>
            <h4>Para el 2031, Néos Terapia será la IPS que hara la diferencia en oportunidad y cobertura en más 
                departamentos de Colombia. <br> <br>
                Los usuarios atendidos por Néos Terapia recibirán siempre las mejores condiciones en materia de 
                salud, la mejor infraestructura y equipos para su correcta recuperación.
            </h4>            
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <img src="./assets/fisio2.png" alt="Fisio2">
        </div>
    </div>
</div>

