<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Fonoaudiología</h2>
            <h4>Estamos enfocados en la rehabilitación de los trastornos de lenguaje, deglución, voz y audición, en patologías 
                como déficit cognitivo, apoyo en el ámbito escolar, secuelas de erfermedad cerebrovascular, autismo, síndrome
                de down, secuelas de trauma craneoencefálico, secuelas de trauma raquimedular.
            </h4>
        </div>
        <div class="col-6">
            <img src="" alt="">
        </div>
    </div>
</div>


