<div class="container" id="respiratoria">
    <div class="row imagen" data-aos="fade-right"
    data-aos-easing="linear"
    data-aos-duration="1500">
        <div class="col-12">
            <img src="./assets/respiratoria.jpg" alt="terapia respiratoria">
        </div>
        <div class="col-12">
            <h2>Terapia Respiratoria</h2><hr><br>
            <h4>Realizamos diagnóstico, tratamiento y educación, como parte del manejo integral del paciente con 
                alteraciones del sistema cardiorrespiratorio agudo o crónico. El terapeuta respiratorio interviene
                como apoyo en la evaluación y tratamiento que requiere el paciente: oxigenacoterapia, manejo de la 
                vía aérea, aerosolterapia, rehabilitación cardiopulmonar, manejo del paciente traqueostomizado, 
                entre otros.
            </h4>
        </div>
    </div>
</div>