.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(57, 46, 134);
    border-radius: 2rem;
    padding: 1rem;
    border: solid rgb(40,188,143) .5rem;
    margin-top: 0;
    
}
h2{
    color: rgb(40,188,143);
    
}
h4{
    color: white;
    text-align: justify;
}
img{
    border-radius: 2rem;
    border: solid rgb(40,188,143) .2rem;
}
.imagen{
    padding-left: 7rem;
    padding-bottom: 3rem;
    justify-content: space-between;
}
hr{
    border: white;
    height: 3px;
    background: linear-gradient(to left, rgb(57, 46, 134), rgb(40,188,143));
}
@media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .container{
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    img{
        width: 95%;
    }
    .imagen{
        padding: 0;
        justify-content: space-between;
        .col-12{
            padding: 0;
            
            justify-content: center;
        }
    }
    .col-12{
        width: 100vw;
        h4{
            font-size:medium;
            padding: 1rem;
        }
        h2{
            padding: 1rem;
        }
    }
}