<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="./assets/fisio1.png" alt="Fisio1">
        </div>
        <div class="col-4"></div>
        <div class="col-6">
            <h2>Misión</h2><br>
            <h4>Brindar servicios integrales de rehabilitación física a los usuarios, partiendo de sus necesidades en
                la salud y cumpliendo cada objetivo con la calidad y profesionalismo de nuestro personal; llebando 
                acabo buenas prácticas en cada uno de los procedimientos con el fin de lograr en un corto tiempo 
                su recuperación.
            </h4>
        </div>
    </div>
</div>


