a{
    span{
        color:rgb(57, 46, 134);
        
    }
    .dos{
            color:rgb(40,188,143);
        }
}
.navbar-expand-lg{
    padding: 0;
    position:fixed;
    background-color: white;
    width: 100vw;
}